@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
:root {
    --gradient: linear-gradient(
        45deg,
        #141e30,
        #243b55
    );
}

body {
	margin: 0;
	background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    animation: bg-animation 30s infinite alternate;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

@keyframes bg-animation {
    0% {background-position:left;}
    100%{background-position: right;}
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: white;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  margin: 0px;
  border: 0px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 40px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
  cursor: pointer;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  bottom: -1rem;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}